@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #000000;
  --blue-primary: #5754de;
  --blue-tertiary: #9c9aff;
  --blue-soft: #e1e0ff;
  --gray-border: #b5b5b5;
  --gray-divider: #696969;
}

/* esse cara aqui vai ser as fontes padrão do site em todos os casos  */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
}

html,
body {
  background: var(--background);
  color: var(--foreground);
}

.simplebar-scrollbar::before {
    background-color: #6366f1 !important;
    border-radius: 9999px !important;
    opacity: 1 !important;
}